.projects-bg {
  background-image: url("../Image/projects-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: #ffffff;
    padding: 10px 40px;
    border: 1px solid #ffffff;
  }
}
.projects-desc {
  color: #ffffff;
  width: 800px;
  text-align: center;
  margin: 100px auto;
  font-size: 14px;
}
.main {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  column-gap: 10px;
  row-gap: 10px;

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

.projects-btn {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  button {
    padding: 10px 25px;
    text-align: center;
    background-color: #a85f0c;
    color: #ffffff;
    cursor: pointer;
  }
  button:hover {
    font-size: 13px;
  }
}

@media screen and (max-width: 420px) {
  html, body {
    overflow-x: hidden;
    }
  .projects-desc {
    width: 350px;
    text-align: center;
    font-size: 13px;
  }
  .projects-bg{
    height: 300px;
    h1{
      font-size: 20px;
    }
  }
}
